.place__title {
  width: 100%;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  margin: 0 0 48px 0;
  grid-area: header;
}

@media screen and (max-width: 950px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 550px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    margin: 0 auto 32px auto;
  }
}

