.photo-grid {
  max-width: 1184px;
  min-height: 671px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 0 48px 92px 48px;
}

@media screen and (max-width: 1150px) {
  .photo-grid {
    max-width: 928px;
    min-height: 942px;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .photo-grid {
    max-width: 720px;
    min-height: 1664px;
    margin: 0 24px 88px 24px;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .photo-grid {
    max-width: 288px;
    min-height: 2724px;
    margin: 0 16px 64px 16px;
    gap: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
}
