@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Black.woff);
  font-weight: bold;
}

/* BODY */

.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    max-width: 1440px;
    margin: auto;
    font-family: "Inter";
}

/* HEADER */

.header {
    width: 90%;
    height: 52px;
    display: grid;
    grid-template-columns: 90% 5% 5%;
    align-items: center;
    margin: 28px auto 56px auto;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-link {
  width: 30px;
  height: 28px;
  text-decoration: none;
  color: #fff;
  justify-self: flex-end;
  text-align: center;
  font-size: 24px;
  line-height: 1.1;
}

.header__lang-link_chosen_theme {
  text-decoration: underline;
}

/* LEAD */

.lead {
  width: 80%;
  height: 1005px;
  margin: 0 auto 92px auto;
  font-family: "Inter";
}

.lead__title {
  font-size: 96px;
  line-height: 1.1;
  text-align: center;
  width: 60%;
  height: 200px;
  margin: 0 auto 32px auto;
}

.lead__subtitle {
  width: 50%;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  margin: 0 auto 64px auto;
}

.lead__image {
  width: 100%;
  height: 615px;
  margin: 0 auto 8px auto;
  display: block;
}

.lead__caption {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0 auto 0 auto;
}

/* INTRO */

.intro {
  width: 50%;
  margin: 0 40% 92px auto;
}

.intro__title {
  font-size: 54px;
  line-height: 1.1;
  margin: 0 auto 40px auto;
  font-weight: bold;
}

.intro__text {
  font-size: 16px;
  margin: 0 auto 33px auto;
  line-height: 1.6;
}

.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
}

/* PHOTO-GRID */

.photo-grid {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  margin: 0 auto 92px auto;
}

.photo-grid__item {
  width: 100%;
  height: 213px;
}

/* PLACES */

.places {
  width: 80%;
  margin: 0 auto 92px;
}

.place {
  box-sizing: border-box;
  width: 100%;
  height: 660px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 25% 45%;
  column-gap: 40px;
  margin-bottom: 80px;
}

.place__title {
  font-size: 72px;
  line-height: 1.05;
  margin: 0 0 48px 0;
}

.place__website {
  align-self: flex-end;
  margin-bottom: 48px;
  grid-column: 2;
}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAA;
  margin-bottom: 12px;
}

.place__link {
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
}

.place__image {
  width: 100%;
  height: 460px;
  grid-row: 2;
}

.place__paragraph {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 26px;
  grid-column: 2;
}



.cover {
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  width: 90%;
  height: 740px;
  margin: 0 auto 92px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cover__title {
  width: 50%;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  z-index: 1;
  text-align: center;
  margin: 0 0 32px 0;
}

.cover__subtitle {
  width: 30%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  z-index: 1;
  text-align: center;
  margin: 0;
}

.cover__overlay {
  width: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.footer__link {
  width: 50px;
  height: 18px;
  margin-right: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.125;
}






