.footer__links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 18px;
}

@media screen and (max-width: 750px) {
  .footer__links {
    gap: 9px;
  }
}

@media screen and (max-width: 550px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    margin-bottom: 48px;
  }
}
