.intro {
  min-height: 429px;
  max-width: 690px;
  margin: 0 442px 92px 148px;
}

@media screen and (max-width: 1150px) {
.intro {
  margin: 0 286px 92px 48px;
}
}

@media screen and (max-width: 950px) {
  .intro {
    max-width: 720px;
    margin: 0 24px 88px 24px;
  }
  }

@media screen and (max-width: 550px) {
  .intro {
    max-width: 288px;
    min-height: 754px;
    margin: 0 16px 64px 16px;
  }
  }
