.lead__subtitle {
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 64px 0;
}

@media screen and (max-width: 1150px) {
  .lead__subtitle {
    margin: 0 0 56px 0;
  }
}

@media screen and (max-width: 550px) {
  .lead__subtitle {
    margin: 0 0 40px 0;
    font-size: 16px;
    max-width: 288px;
  }
}
