.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 740px;
  margin: 0 48px 92px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 1150px) {
  .cover {
    min-height: 640px;
    margin: 0 0 92px 0;
  }
}

@media screen and (max-width: 950px) {
  .cover {
    min-height: 480px;
    margin: 0 0 88px 0;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    min-height: 200px;
    margin: 0 0 64px 0;
  }
}
