.place__link {
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  display: block;
  transition: 0.5s;
}

.place__link:hover {
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  display: block;
  opacity: 0.8;
}
