.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 48px 24px 48px;
}

@media screen and (max-width: 1150px) {
  .footer {
    max-width: 928px;
    margin: 0 auto 24px auto;
  }
}

@media screen and (max-width: 950px) {
  .footer {
    max-width: 720px;
    margin: 0 auto 24px auto;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    max-width: 186px;
    flex-direction: column;
    margin: 0 118px 24px 16px;
    align-items: flex-start;
  }
}
