.place__website {
  max-width: 456px;
  margin-bottom: 48px;
  grid-area: url;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 950px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 550px) {
  .place__website {
    max-width: 288px;
    margin: 0 16px 0 16px;
  }
}
